<!DOCTYPE html>
<html lang = "ko">
  <head>
    <meta charset = "UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Error</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <noscript>You need to enable JavaScript to run this app.</noscript>
    <div id = "root">
      <h1>ERROR 204</h1>
      <h2>비밀번호가 올바르지 않습니다.</h2>
      <input type = "button" class = "button" onclick="location.href='../'" value = "홈으로" />
    </div>
</html>