<!DOCTYPE html>
<html lang = "ko">
  <head>
    <meta charset = "UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Board</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <noscript>You need to enable JavaScript to run this app.</noscript>
    <div id = "root">
      <h1>방명록</h1>
      <table border="2">
        <tr>
          <th>번호</th>
          <th>글쓴이</th>
          <th>글</th>
          <th>작성일</th>
        </tr>
        <tr>
          <td><%= %></td>
          <td><%= %></td>
          <td><%= %></td>
          <td><%= %></td>
        </tr>
    </div>
  </body>
</html>