<!DOCTYPE html>
<html lang = "ko">
  <head>
    <meta charset = "UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Error</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div id = "root">
      <h1>ERROR</h1>
      <h2>오류가 발생하였습니다.</h2>
      <input type = "button" onclick="http://monisu.iptime.org" value = "홈으로" />
    </div>
  </body>
</html>