<!DOCTYPE html>
<html lang = "ko">
  <head>
    <meta charset = "UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Home</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <noscript>You need to enable JavaScript to run this app.</noscript>
    <div id = "root">
      <h1>어서오세요 <%= username %>님!</h1>
      <input type = "button" id  = "button_index_1" onclick="location.href='./board'" value = "방명록 이용하기" />
      <input type = "button" id  = "button_index_2" onclick="location.href='./auth/logout'" value = "로그아웃" />
    </div>
  </body>
</html>