<!DOCTYPE html>
<html lang="ko">
  <head>
    <%- include('../partials/head.ejs'); %>
  </head>
  <body>
    <noscript>You need to enable JavaScript to run this app.</noscript>
    <header>
      <%- include('../partials/header.ejs'); %>
    </header>
    <nav>
      <%- include('../partials/nav.ejs'); %>
    </nav>
    <main>
      <canvas class="ladder">
      </canvas>
      <button type="button" onclick="location.href='../'">Home</button>
    </main>
    <footer>
      <%- include('../partials/footer.ejs'); %>
    </footer>
    <script type="text/javascript" src="/javascripts/index.js"></script>
  </body>
</html>