<!DOCTYPE html>
<html lang="ko">
  <head>
    <%- include('../partials/head.ejs'); %>
  </head>
  <body>
    <noscript>You need to enable JavaScript to run this app.</noscript>
    <header>
      <%- include('../partials/header.ejs'); %>
    </header>
    <nav>
      <%- include('../partials/nav.ejs'); %>
    </nav>
    <main>
      <h1>줄 배정이 이상하다면 F5를 눌러주세요.</h1>
      <canvas id="jsLadder" class="ladder" width="750px" height="350px">
        Your browser does not support the HTML5 canvas tag.
      </canvas>
      <button type="button" onclick="location.href='../'">Home</button>
      <div id="jsModal" class="modal">
        <div class="modalOverlay"></div>
        <div class="modalContent">
          <h2>Set People</h2>
          (2 ~ 8)
          <div class="setPeople">
            <button id="jsDownBtn" class="downBtn"></button>
            <div id="jsPeopleNumber" class="peopleNumber"></div>
            <button id="jsUpBtn" class="upBtn"></button>
          </div>
          <button id="jsSubmit">Submit</button>
        </div>
      </div>
      <div id="jsLadderCover" class="canvasCover hidden"></div>
    </main>
    <footer>
      <%- include('../partials/footer.ejs'); %>
    </footer>
    <script type="text/javascript" src="/javascripts/index.js"></script>
    <script type="text/javascript" src="/javascripts/ladder.js"></script>
  </body>
</html>