<!DOCTYPE html>
<html lang="ko">
  <head>
    <%- include('../partials/head.ejs'); %>
  </head>
  <body>
    <noscript>You need to enable JavaScript to run this app.</noscript>
    <header>
      <%- include('../partials/header.ejs'); %>
    </header>
    <nav>
      <%- include('../partials/nav.ejs'); %>
    </nav>
    <main>
      <h1>Sign In</h1>
      <form action="signin" method="POST">
        <input type="text" name="id" placeholder="ID" required style="ime-mode:disabled;"/>
        <input type="password" name="password" placeholder="PASSWORD" required style="ime-mode:disabled;"/>
        <button type="submit">Sign In</button>
      </form>
      <button type="button" onclick="location.href='./signup'">Sign Up?</button>
    </main>
    <footer>
      <%- include('../partials/footer.ejs'); %>
    </footer>
    <script type="text/javascript" src="/javascripts/index.js"></script>
  </body>
</html>
