<!DOCTYPE html>
<html lang="ko">
  <head>
    <%- include('../partials/head.ejs'); %>
  </head>
  <body>
    <noscript>You need to enable JavaScript to run this app.</noscript>
    <header>
      <%- include('../partials/header.ejs'); %>
    </header>
    <nav>
      <%- include('../partials/nav.ejs'); %>
    </nav>
    <main>
      <div id="jsBeforeWords" class="beforeWords"></div>
      <div id="jsNowWord" class="nowWord">단어를 입력하세요.</div>
      <div id="jsRemainTime" class="remainTime"></div>
      <div id="jsWordStatus" class="wordStatus"></div>
      <input id="jsWordInput" type="text" required />
      <div id="jsModal" class="modal">
        <div class="modalOverlay"></div>
        <div class="modalContent">
          <h2 id="jsModalValue">Start?</h2>
          <button id="jsStart">Start</button>
          <button type="button" onclick="location.href='../'">Home</button>
        </div>
      </div>
    </main>
    <footer>
      <%- include('../partials/footer.ejs'); %>
    </footer>
    <script type="text/javascript" src="/javascripts/index.js"></script>
    <script type="text/javascript" src="/javascripts/wordchain.js"></script>
  </body>
</html>